# Get rid of PDFs except for the UAH's logo
*.pdf
!UAH_logo.pdf

# Get rid of MacOS's trash files
.DS_Store

# Get rid of workspace configs for Code
.vscode

# Get rid of minted's trash
_minted-main

# Get rid of Word files
*.docx

# Get rid of vagrant's stuff
.vagrant
